src/main/resources/texts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dev.ivanov/dining-hall-bot"
  xmlns:tns="http://dev.ivanov/dining-hall-bot"
  elementFormDefault="qualified"
>
  <xs:element name="texts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="text" 
          minOccurs="0"
          maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>